  .bicicleta-lista {
    padding-bottom: 120px;
  }

  .bicicleta-lista h2 {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    margin-bottom: 40px;
    line-height: 72px;
  }

  .bicicleta-lista h2 span {
    color: var(--cor-p1);
  }

  .bicicleta-lista ul {
    display: flex;
    gap: 40px;
    padding: 0 20px 20px 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto;
  }

.bicicleta-lista li {
  min-width: 280px;
}

  .bicicleta-lista a {
    display: block;
  }
  .bicicletas-listas img {
    margin-bottom: 16px;
  }

  .bicicleta-lista h3 {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 16px;
    display: flex;
    align-items: center;
  }

  .bicicleta-lista h3::before {
    content: " ";
    display: inline-block;
    height: 8px;
    width: 12px;
    margin-right: 8px;
    background: var(--cor-p1);
    transition: width 0.2s;
  }

  .bicicleta-lista a:hover h3::before {
width: 24px;
  }

  .bicicleta-lista li span {
    padding-left: 20px;
    color: var(--cor-8);
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width: 800px) {
    .bicicleta-lista {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .bicicleta-lista ul {
      gap: 20px;
    }
  }
