  * {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
  }

.container {
  box-sizing: border-box;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

  body {
    max-width: 100%;
  }
h1, h2, h3 {
  font-family: "Poppins";
}

p {
  font-family: "Roboto";
}

  a {
    color: inherit;
    font-family: "Poppins";
  }

  img {
    max-width: 100%;
    display: block;
  }
img[src$=".jpg"] {
  border-radius: 4px;
}

  .header-bg {
    background: var(--cor-12);
  }

  .header {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 100%;
    margin: 0 100px;
  }

  .header-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
  }

  .header-menu a {
    color: var(--cor-0);
    display: inline-block;
    padding: 16px 0px;
    font-family: "Poppins";
    font-weight: 18px;
    line-height: 32px;
    position: relative;
  }

  .header-menu a:after {
    content: " ";
    display: block;
    height: 2px;
    width: 0px;
    background: var(--cor-0);
    margin-top: 4px;
    transition: 0.3s;
    position: absolute;
  }

  .header-menu a:hover:after {
    width: 100%;
  }

  @media (max-width:800px) {
.header-menu {
  gap: 20px;
}

    .header-menu a {
      background: var(--cor-11);
      padding: 12px 16px;
      border-radius: 4px;
      font-size: 14px;
    }
    .header-menu a:hover {
background: var(--cor-10);
    }
    .header a:after {
      display: none;
    }
  }

  @media (max-width:600px) {
    .header-menu {
      gap: 12px;
    }
    .header-menu a {
      padding: 8px 12px;
    }
  }
