.introducao-bg {
  background: var(--cor-12);
  color: var(--cor-0);
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao p,
.introducao a {
grid-column: 1;
}

.introducao img {
  grid-column: 2;
  grid-row: 1/3;
}