  .introducao-bg {
    background: var(--cor-12);
    color: var(--cor-0);
  }

  .introducao {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0px 40px;
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    font-family: "poppins";
  }

  .introducao-conteudo {
    align-self: end;
    padding-bottom: 80px;
    font-family: "roboto";
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
  }

  .introducao-imagem {
    margin-bottom: -120px;
  }

  .introducao img {
    height: 100%;
    object-fit: cover;
  }

  .introducao h1 {
    margin-bottom: 32px;
    font-size: 64px;
    line-height: 72px;
    font-weight: 600;
    /* font-weight: 600;
    font-size: 64px;
    line-height: 1.125; */
  }

  .introducao h1 span {
    color: var(--cor-p1);
  }

  .introducao p {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: var(--cor-5);
  }

  .introducao a {
    display: inline-block;
    padding: 16px 32px;
    background: var(--gr-2);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 1);
    text-transform: uppercase;
    color: var(--cor-p5);
    font-weight: 600;
    font-size: 18px;
    line-height: bold;
  }

  .introducao a:hover {
    background: var(--gr-1);

  }
